<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>

<body>
	<div>
	<h1 align ="center" style ="text-align: left; margin-left: 350px;">
		<table>
			<tr>
				<td><img src="../assets/img/pics/csu.gif" style="padding: 5px;" /></td>
				<td><img src="../assets/img/pics/headerCSU.png" style="padding: -5px; width: 230px; height: 70px; margin-left: -10px; margin-top: 10px;"  /></td>
			</tr>

		</table></h1>
		<div>
			<p align="center">	Admission Slip
			</p>
			<p style ="text-align: left; margin-left: 350px;">kkkkk</p>
			<p style ="text-align: left; margin-left: 350px;">kkkkk</p>
			<br/>

			<pre style ="text-align: left; margin-left: 350px;">kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkaaaaaaaaaaaaaaaaaaaaaa</pre>
		</div>
		</div>

</body>
</html>