td {
	text-decoration: none;
	border: none;
}
img {
	text-decoration: none;
	border: none;
}
.button {
	font-family: Tahoma;
	font-size: 10px;
	color: #005A75;
	text-decoration: none;
	border: none;
	background-color:transparent;
}

.left {
	font-family: Tahoma;
	font-size: 10px;
	color: #005A75;
	text-decoration: none;
	border: none;
}
.right {
	font-family: Tahoma;
	font-size: 10px;
	color: #5B5A35;
	text-decoration: none;
	border: none;
}

.error {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #990000;
}

.PageName {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #003366;
}

#navigation td {
    background-color: #E4E4E4;
	}

#navigation a {
	color: #003366;
	line-height:8px;
	letter-spacing:0.05em;
	text-decoration: none;
	display:block;
	padding:8px 6px 10px 20px;
	font-family: Tahoma;
	font-size: 9px;
	font-weight: bold;
	}
	
#navigation a:hover {
	color:#993300;
}

#subMenu td {
	}
	
#subMenu a {
	color: #003366;
	line-height:8px;
	letter-spacing:normal;
	text-decoration: none;
	display:block;
	padding:8px 6px 10px 20px;
	font-family: Tahoma;
	font-size: 9px;
	font-weight: bold;
	}
	
#subMenu a:hover {
	color:#993300;
	background-color: #CCCCCC;
}
	
#navigate td {
	border-top: 1px solid #FFFFCC;
	border-bottom: 1px solid #FFFFCC;
	border-left: 1px solid #FFFFCC;
	}
	
#navigate a {
	font: bold 11px Arial, Helvetica, sans-serif;
	color: #F2FCFF;
	line-height:16px;
	letter-spacing:.05em;
	text-decoration: none;
	display:block;
	padding:4px 3px 4px 10px;
	}
	
#navigate a:hover {
	color:#993300;
	background-color: #FFFFDF;
}

a {
	color: #993300;
	}
	
a:hover {
	color: #993300;
	}



.text22 {
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #003366;
	text-decoration: none;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}
.text {
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}


.text2 {
	color: #003366;
	line-height:8px;
	letter-spacing:normal;
	text-decoration: none;
	padding:4px 4px 4px 0px;
	font-family: Tahoma;
	font-size: 9px;
	font-weight: bold;
	background-color:#CAE4FF;
}

.text3 {
	color: #000000;
	line-height:8px;
	letter-spacing:normal;
	text-decoration: none;
	display:block;
	font-family: Tahoma;
	font-size: 9px;
	font-weight: normal;
}

.instruction {
	font-family: Tahoma;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	border: none;
	font-weight: bold;
}

.error2 {
	color: #990000;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}

.babes {
	font-family: Tahoma;
	font-size: 10px;
	color: #000000;
	text-decoration: none;
	border: none;
}

.ba {
	font-family: Tahoma;
	font-size: 11px;
	color: #0066CC;
	text-decoration: none;
	border: none;
	font-weight: bold;
}

.total {
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
	font-family: 'Conv_Ubuntu-Light';
    background-repeat:repeat;
	background: #ffe600;
	line-height: 20px;
	margin: 0;
	padding: 0 0 0 10px;

}
.total2 {
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000066;
	text-decoration: none;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	background-color:#CCCCCC;
}

.label1 {
	color: #003366;
	line-height:8px;
	letter-spacing:normal;
	text-decoration: none;
	padding:4px 4px 4px 0px;
	font-family: Tahoma;
	font-size: 9px;
	font-weight: bold;
	background-color:#CAE4FF;
}

.label2 {
	color: #003366;
	line-height:8px;
	letter-spacing:normal;
	text-decoration: none;
	padding:4px 4px 4px 0px;
	font-family: Tahoma;
	font-size: 9px;
	font-weight: bold;
	background-color:#FEF2D8;
}
.label3 {

	color: #003366;
	line-height:8px;
	letter-spacing:normal;
	text-decoration: none;
	padding:4px 4px 4px 0px;
	font-family: Tahoma;
	font-size: 9px;
	font-weight: bold;
	background-color:#D9FFD9;
}
.total3 {

	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000066;
	text-decoration: none;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	background-color:#FEF2D8;
}
.total4 {

	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000066;
	text-decoration: none;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	background-color:#D9FFD9;
}

.jing {

	font-family: Tahoma;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	border: none;
}

#nav1 {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #0066CC;
}
#nav2 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000066;
}
#nav3 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #0066CC;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #0066CC;
}

#nav11 {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #999999;
}
#nav12 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
}
#nav13 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #999999;
}
#nav14 {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #999999;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #999999;
}
#nav15 {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #999999;
}
#nav16 {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #999999;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #999999;
}
#nav17 {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #999999;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #999999;
}
#nav18 {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #999999;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #999999;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #999999;
}
#nav19 {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #999999;
}
#nav20 {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #999999;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #999999;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
}
#nav21 {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #999999;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #999999;
}
#nav22 {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #999999;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
}
#nav23 {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #999999;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #999999;
}

#nav25 {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #999999;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
}

#nav24 {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #999999;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #999999;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #999999;
}


.textPrint {
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}
.textGrand {
	font-size: 13px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000066;
	text-decoration: none;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	background-color: #CCCCCC;
}
.white {

	font-family: Tahoma;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	border: none;
}
.center {
	font-family: Tahoma;
	font-size: 11px;
	color: #5C5C5C;
	text-decoration: none;
	border: none;
}

.textBold {
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}
.textPrintItalics {
	font-size: 11px;
	font-style: italic;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}
.textPrintItalics2 {
	font-size: 11px;
	font-style: italic;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}


#navCPIC {
	border-top-width: medium;
	border-top-style: solid;
	border-top-color: #0066CC;
}

#navCPICbottom {
	border-bottom-style: solid;
	border-bottom-color: #0066CC;
	border-bottom-width: thin;
}

#navBTLR {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #999999;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #999999;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #999999;
}
.welcome {

	font-family: Tahoma;
	font-size: 10px;
	color: #FF99FF;
	text-decoration: none;
	border: none;
	background-color:transparent;
}
.ccms {

	font-family: Tahoma;
	font-size: 10px;
	color: #FFFF66;
	text-decoration: none;
	border: none;
	background-color:transparent;
}

.textPrint {
	font-size: 13px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}
.textPrintBold {
	font-size: 13px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}


.subPageTitle{
	background: #ffe600;
	color: #767676;
	display: block;
	line-height: 30px;
	margin: 0;
	padding: 0 0 0 10px;
	text-transform: uppercase;
}
